// _mixins.scss
@use '../abstracts/placeholder' as var;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin placeholder {
    &::placeholder               {@content}
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}