// _variables.scss
$primary-color: #ad77ff;
$secondary-color: #ad77ff;
$light-color: #f5fafe;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #f3f3f3;
$border-color: #cccccc;
$btn-rounded-color: #7a7a7a;
$text-gray-color: #5a5a5a;
$warning-red-color: #ff4639;
$input-placeholder-color: rgb(181, 181, 181);
// fonts
$font-r1: "Roboto", sans-serif;
$font-r2: "Roboto Condensed", sans-serif;